.project{ 
    min-height: 500px;
}

.project__image{
    position: relative;
    width: 40%;
    overflow: hidden;
}

.project__image img{
    border: 1px solid var(--secondary);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: auto;
    height: 95%;
    transition: 0.25s;
}

.project__image .project__image-button{
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, 150%);
    opacity: 0;
    transition: 0.5s;
    z-index: 5;
}

.project__image:hover .project__image-button{
    transform: translate(-50%, -50%);
    opacity: 1;
}

.project__image:hover img{
    
    height: 80%;
}

.project__image img:first-child{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.project__image img:last-child{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.project__description{
    width: 50%;
}

.blog__container .home__blog:nth-child(2){
    display: flex;
    flex-direction: column-reverse;
}

.blog__container .home__blog:nth-child(2) div:first-child{
    border-top: 2px solid black;
}

 .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }